<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>C'MON | Client Monitoring Tool v1.0</display-name>
  <welcome-file-list>
    <welcome-file>/default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Log4JInitServlet</servlet-name>
    <servlet-class>dsn.cmon.init.Log4JInitServlet</servlet-class>
    <init-param>
      <param-name>log4j-properties-location</param-name>
      <param-value>WEB-INF/config/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HeartbeatInit</servlet-name>
    <servlet-class>dsn.cmon.init.HeartbeatInit</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CmonRegistrationServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.CmonRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActivationServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.ActivationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainPage.jsp</servlet-name>
    <jsp-file>/MainPage.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BalanceJobServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.BalanceJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatementJobServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.StatementJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataStaticJobServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.DataStaticJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.SettingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoRestartJobServlet</servlet-name>
    <servlet-class>dsn.cmon.controller.AutoRestartJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CmonRegistrationServlet</servlet-name>
    <url-pattern>/cmonreg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivationServlet</servlet-name>
    <url-pattern>/activation.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainPage.jsp</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BalanceJobServlet</servlet-name>
    <url-pattern>/balancejob.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatementJobServlet</servlet-name>
    <url-pattern>/statementjob.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataStaticJobServlet</servlet-name>
    <url-pattern>/datastaticjob.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/setting.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoRestartJobServlet</servlet-name>
    <url-pattern>/restartjob.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>dsn.cmon.init.QuartzInitializerListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>